<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pavanshah.consumesafe">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".api.HTTPRequestHandler"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.pavanshah.consumesafe.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".bus.LandingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bus.FeatureActivity"
            android:label="@string/title_activity_feature"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bus.LoginActivity"
            android:label="Global Recalls"
            android:noHistory="true"
            />
        <activity
            android:name=".bus.UserHomeActivity"
            android:label="My Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bus.SubscriptionsActivity"
            android:label="My Subscriptions"
            android:noHistory="true"
            />
        <activity android:name=".bus.DetailsActivity"
            android:label="Product Details"
            android:noHistory="true"
            />
        <activity android:name=".bus.ScanActivity"
            android:label="Register Your Purchases"
            />
        <activity android:name=".bus.ReceiptAnalysisActivity"
            android:label="Receipt Analysis"
            android:noHistory="true"
            >
        </activity>

        <service
            android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>